<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="body">


<a href="/registration">Новый пользователь</a>
<div>
    <table>
        <tr>
            <th>Логин</th>
            <th>Роли</th>
        </tr>
        <tr th:each="el : ${user_list}">
            <td th:text="${el.username}"></td>
            <td>
                <div th:each="role : ${el.roles}">
                    <p th:text="${role}"></p>
                </div>
            </td>
            <td>
                <a>"
                   th:href="'/admin/'+${el.idUser}">Подробнее...</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
